@import "./src/assets/styles/colors";
@import "./src/assets/styles/breakpoints";
@import "./src/assets/styles/vars";


.services {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  font-family: 'Montserrat';
  color: $black;

    &__left-banner {
      @include left-banner;
      border-bottom: none;
      position: relative;
    }
    &__left-banner h3{
      font-weight: 800;
      font-size: 16px;
      line-height: 20px;
      position: absolute;
      top: 320px;
    }
    &__block {
      display: flex;
      justify-content: space-evenly;
      border-bottom: $border;
    }
    &__element {
      padding: 120px 100px 109px 90px;
      display: flex;
      flex-direction: column;
      gap: 60px;
      width: 69%;
      border-right: 1px solid $grey;
    }
    &__element_design {
      width: 80%;
    }
    &__title {
      font-weight: 800;
      font-size: 40px;
      line-height: 49px;
    }
    &__subtitle{
      font-size: 36px;
      line-height: 44px;
      font-weight: 800;
      padding-bottom: 60px;
    }
    &__list {
      display: flex;
      gap: 60px;
    }
    &__list-item {
      font-family: 'Lato';
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      color: $black;
    }
    &__paragraph {
      padding: 205.5px 100px 205.5px 100px;
      font-family: 'Lato';
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      color: $black;
      width: 31%;
      border-right: 1px solid $grey;
    }
    &__button {
      padding: 14px 44px;
      border: 1px solid #D3D3D3;
      border-radius: 30px;
      font-size: 12px;
      line-height: 11px;
      color: $black;
      cursor: pointer;
    }
    &__info {
      display: flex;
      gap: 35px;
      padding-top: 10px;
    }
    &__text {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      color: $black;
    }
    &__paragraph_design {
      padding: 167.5px 100px 167.5px 100px;
      border-right: 1px solid $grey;
      width: 44%;
    }
    &__paragraph_design span {
      font-weight: 400
    }
    &__product {
      display: flex;
      padding: 120px 100px 120px 100px;
      flex-direction: column;
      border-right: 1px solid $grey;
      width: 40%;
      flex: 2;
    }
    &__product-list {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    &__product-item {
      font-family: 'Lato';
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      flex:2;
    }
    &__paragraph_analytic {
      display: flex;
      flex-direction: column;
      width: 27%;
      padding: 130px 100px 130.5px 100px;
      gap: 46px;
    }
    &__paragraph_analytic span {
      font-weight: 400;
    }
    &__button_big {
      width: 83%;
    }
  }


@media (max-width: 1919px) {
.services { 
    &__element {
      padding: 120px 60px 120px 60px;
      width: 74%;
    }
    &__title {
      max-width: 515px;
    }
    &__subtitle{
      font-size: 36px;
      line-height: 44px;
      font-weight: 800;
    }
    &__paragraph {
      padding: 220.5px 60px 220.5px 60px;
      width: 28%;
    }
    &__paragraph_design {
      width: 40.9%;
      padding: 167.5px 60px 167.5px 60px;
    }
    &__product {
      padding: 106px 60px 118px 60px;
    }
    &__paragraph_analytic {
      padding: 106px 60px 121px 60px;
    }
    &__button_big {
      width: 100%;
    }
  }
}
