@import "./src/assets/styles/colors";
@import "./src/assets/styles/vars";


.projects {
    font-family: 'Montserrat';
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    background: $white; 
    color: $black;
        &__left-banner {
            @include left-banner;
            position: relative;
        }
        &__left-banner h3 {
            font-weight: 800;
            font-size: 16px;
            line-height: 20px;
            position: absolute;
            top: 560px;
        }
        &__container {
            display: flex;
            border-right: $border;
        }
        &__left-block {
            border-right: $border;
            flex: 1;
        }
        &__right-block {
            flex: 1;
        }
        &__all-cases {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 141px 0 140px 0;
            border-bottom: $border;
        }
        &__btn {
            padding: 14px 48px 15px 47px;
        }  
        
          
    }

@media (max-width: 1919px) {
.projects {
        &__btn {
            padding: 14px 46px;
        }    
    }
}
@media (max-width: 1199px) {
    .projects {
        &__right-banner {
            border-bottom: $border;
        }
    }
}


@media (max-width: 959px) {
    .projects {
        grid-template-columns: 0 1fr 0;

        &__left-banner h3 {
            display: none;
        }
        &__container {
            flex-direction: column;
        }
        &__all-cases {
            border-bottom: none;
            padding: 80px 0 80px 0;
        }
    }
}


@media (max-width: 639px) {
    .projects {

        &__all-cases {
            padding: 50px 0 50px 0;
        }
        &__btn {
            width: 90%;
            text-align: center;
        }
    }
}
