.card {
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    border-bottom: 1px solid #D3D3D3;
    &__left-banner {
        border-right: 1px solid #D3D3D3;
    }
    &__container{
        border-right: 1px solid #D3D3D3;
        height: 447px;
        position: relative;
        padding: 88px 60px 89px 60px;
        font-family: 'Montserrat';
        color: #262626;
        display: flex;
        justify-content: space-between;
    }
    &__menu{
        width: 488px;
        padding-top: 31px;
        display: flex;
        align-items: center;
    }
    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 56px;
        color: #262626;
        padding-bottom: 50px;
    }
    &__text {
        width: 488px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: #262626;
        padding-bottom: 75px;
    }   
    &__btn {
        padding: 14px 44px;
        border: 1px solid #D3D3D3;
        border-radius: 30px;
        font-size: 12px;
        line-height: 11px;
        position: absolute;
        left: 60px;
        bottom: 89px;
        cursor: pointer;
    } 
    &__items {
        display: flex;
        gap: 140px;
    }
    &__item li{
        font-family: 'Lato';
        font-size: 15px;
        line-height: 25px;
        color: #262626;
        padding-bottom: 30px;
    }

}
@media (max-width: 1199px) {
    .card {
        &__text {
            width: 411px;
        }   
        &__left-banner {
            border-right: 0;
        }
        &__container{
            border-right: 0;
            padding: 88px 0 39px 0;
            height: 490px;
        }
        &__title{
            width: 457px;
        }
        &__btn {
            left: 0;
            bottom: 106px;
        } 
        &__items {
            gap: 75px;
        }
    }
 }