@import "./src/assets/styles/colors";
@import "./src/assets/styles/vars";
@import "./src/assets/styles/breakpoints";

  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    padding: 68px;
    z-index: 1000;
    width: 640px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
        &__close {
            position: absolute;
            right: 68px;
            top: 68px;
            cursor: pointer;
        }
        &__text {
            font-family: 'Lato';
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
}

@media #{$mobile} {

    .popup {
        padding: 0;
        width: 320px;
        height: 320px;  
        gap: 20px;
            &__close {
                right: 30px;
                top: 30px;
            }
            &__text {
                font-size: 14px;
                line-height: 17px;
            }
    }
    
}