@import "./src/assets/styles/colors";
@import "./src/assets/styles/breakpoints";
@import "./src/assets/styles/vars";

.promo {
  display: grid;
  grid-template-columns: 60px 1fr;


  &__left-banner {
    @include left-banner;
  }

  &__container {
    display: grid;
    grid-template-columns: auto 60px;
    grid-template-rows: 2fr 1fr;
  }

  &__titles {
    position: relative;
    border-bottom: $border;
    border-right: $border;
  }

  &__title {
    margin-top: 232px;
    margin-bottom: 130px;
    margin-left: 60px;
    font-weight: 800;
    font-size: 92px;
    line-height: 112px;
    max-width: 905px;
  }
  
  &__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    max-width: 478px;
    position: absolute;
    right: 57px;
    bottom: 180px;
  }

  &__showreel {
    width: 200px;
    height: 200px;
    transform: rotate(-23.91deg);
    background-color: $black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $white;
    position: absolute;
    bottom: -100px;
    right: 80px;
  }
}

.promo__container::after {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  content: "";
  border-bottom: $border;
}

.promo__container::before{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  content: "";
  border-right: $border;
  border-bottom: $border;
}