@import "./src/assets/styles/colors";
@import "./src/assets/styles/breakpoints";
@import "./src/assets/styles/vars";

.promo {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  font-family: 'Montserrat';

    &__left-banner {
      @include left-banner;
      border-bottom: none;
    }
    &__container {
      border-right: $border;
      border-bottom: $border;
    }
    &__titles{
      color: $black;
      padding: 260px 284px 143px 100px;
      position: relative;
    }
    &__title {
      font-style: normal;
      font-weight: 800;
      font-size: 92px;
      line-height: 112px;
      max-width: 920px;
    }
    &__subtitle {
      position: absolute;
      max-width: 478px;
      top: 403px;
      right: 498px;
      font-family: 'Lato';
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $black;
    }
    &__showreel {
      width: 200px;
      height: 200px;
      transform: rotate(-23.91deg);
      background-color: $black;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: $white;
      position: absolute;
      bottom: -101px;
      right: 285px;
  }
}

.promo__container::after {
    height: 270px;
    display: block;
    width: 100%;
    content: "";
    border-top: $border;
    // border-right: 1px solid $grey;
  }

@media (max-width: 1919px) {
  .promo {

      &__titles{
        padding: 260px 60px 143px 60px;
      }
      &__subtitle {
        right: 58px;
      }
      &__showreel {
        right: 79px;
    }
  }

  .promo__container::after {
      height: 242px;
    }
}

@media (max-width: 1199px) {
  .promo {
    &__right-banner {
      border-bottom: $border;
    }
    &__titles{
      display: flex;
      flex-direction: column;
      padding: 260px 10px 130px 30px;
    }
    &__title {
      font-weight: 700;
      font-size: 80px;
      line-height: 98px;
      max-width: 838px;
      padding-bottom: 30px;
    }
    &__subtitle {
      position:static;
    }
    &__container::after {
      height: 202px;
    }
  }
}

@media (max-width: 959px) {
  .promo {
    grid-template-columns: 0 1fr 0;
    &__left-banner h3 {
      display: none;
    }
    &__titles{
      padding: 200px 0 145px 41px;
    }
    &__title {
      font-size: 40px;
      line-height: 49px;
      max-width: 565px;
    }
    &__container::after {
      height: 170px;
    }
    &__showreel {
      right: 59px;
    }
  }
}

