@import "./src/assets/styles/colors";
@import "./src/assets/styles/vars";
@import "./src/assets/styles/breakpoints";






.project-card {
    padding: 57px 100px;
    border-bottom: $border;
    font-family: 'Montserrat';
    color: $black;
    max-height: 680px;
    cursor: pointer;
    position: relative;

        &__content {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        &__image {
            display: flex;
            justify-content: center; 
            align-items: center;
        }    
        &__image img {
            width: 700px;
            height: 494px;
            border-radius: 5px;
            object-fit: contain;
        }
        &__title {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;

        }
        &__items {
            display: flex;
            gap: 40px;
        }
        &__items li {
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
        }
        &__link {
            position: absolute;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: $white;
            top: 500px;
            opacity: 0;
            cursor: pointer;
        }
        &__link:hover {
            background-color: #bfbfbf;
        }
        &__text {
            top: 80px;
            position: absolute;
            max-width: 642px;
            opacity: 0;
        }
    }
    .project-card:hover {
        &.blueshade-background {
            background-color: #303337;
        }
        &.red-background {
            background-color: #A20109;
        }
        &.gray-background {
            background-color: #5C7E88;
        }
        &.blue-background {
            background-color: #526DD4;
        }
        &.darkred-background {
            background-color: #9B1E21;
        }
        &.darkblue-background {
            background-color: #2B5090;
        }
        .project-card__image {
            opacity: 0;
        }
        .project-card__title {
            color: $white;
        }
        .project-card__items li {
            color: $white;
        }
        .project-card__link {
            color: $white;
            opacity: 1;
        }
        .project-card__text {
            color: $white;
            opacity: 1;
        }
      }



@media #{$desktop-large} {

    .project-card {
        gap: 20px;
        padding: 57px 60px;
        max-height: 590px;

            &__image img {
                width: 540px;
                height: 404px;
            }
            &__text {
                font-size: 14px;
                padding-right: 60px;
            }
            &__link {
                top: 300px;
            }
        }
}
@media #{$desktop} {
    .project-card {
        padding: 57px 29px;
        height: 460px;
        &__image img {
            width: 360px;
            height: 254px;
        }
        &__items {
            gap: 20px;
        }

        &__title {
            max-width: 360px;
        }
        &__link {
            top: 390px;
        }
        &__text {
            font-size: 12px;
        }
        &__link {
            top: 280px;
            font-size: 14px;
            line-height: 18px;
        }

    }
}

@media #{$tablet} {
    .project-card {
        padding: 57px 40px;
        height: 580px;
        &__title {
            max-width: 561px;
        }
        &__image img {
            width: 561px;
            height: 394px;
        }
        &__text {
            max-width: 100%;
            font-size: 16px;

        }
        &__link {
            top: 300px;
        }
    }
}

@media #{$mobile} {
    .project-card {
        padding: 30px 20px;
        height: 456px;
        &__title {
            max-width: 561px;
            font-size: 14px;
            line-height: 17px;
        }
        &__image img {
            width: 440px;
            height: 327px;
        }
        &__text {
            top: 60px;
            font-size: 14px;
        }
        &__link {
            top: 300px;
        }
    }
}

@media #{$mobile-small} {
    .project-card {
        height: 360px;

        &__image img {
            width: 280px;
            height: 192px;
        }
        &__items {
            flex-flow: wrap;
            row-gap: 10px;
        }
        &__text {
            top: 60px;
            font-size: 12px;
            padding-right: 30px;
        }
        &__link {
            top: 240px;
        }
    }
}
