@import "./src/assets/styles/colors";
@import "./src/assets/styles/breakpoints";
@import "./src/assets/styles/vars";


.header {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  border-bottom: $border;
  font-size: 12px;
  line-height: 11px;
  z-index: 60;
  position: fixed;
  width: 100%;
  background:$white;

  &__burger-button {
    background-image: url(../../assets/images/burger-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-right: $border;
    color: $black;
    cursor: pointer;
    transition: all 0.5s ease-in;
  }

  &__container {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    border-right: $border;

  }

  &__list {
    font-family: 'Montserrat';
    display: flex;
    gap: 100px;
    font-weight: 500;
  }

  &__get-project-button {
    padding: 14px 26px;
    border: $border;
    border-radius: 30px;
    position: absolute;
    right: 100px;
    cursor: pointer;
    color: $black;
  }

  &__lng-button {
    padding: 23px 16px;
    color: $black;
  } 
  &__burger-button--active{
    background-image: url(../../assets/images/btn-open.svg);
    transition: all 0.5s ease-in;
  }
  
  // interactive 
  &__list-item a:hover {
    color: $purple;
  }
  &__get-project-button:hover {
    color: $purple;
    border: $borderPurple;
  }

}
// .black-layer{
//   display: none;

//   &--active {
//     display: block;
//     position: fixed;
//     top: 60px;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(0,0,0,.2);
//     transition: 1s;
//     z-index: 30;
//   }
// }

@media #{$desktop-large}{
  .header {
    &__list {
      gap: 40px;
    }
    &__get-project-button {
      right: 60px;
    }
  }
}

@media #{$desktop} {
  .header {
    &__container{
      padding-left: 143px;
      justify-content: flex-start;
    }
  }
}
@media #{$tablet} {
  .header {
    &__list {
      display: none;
    }
    &__get-project-button {
      right: 8px;
    }
  }
}
