.servic {
    font-family: 'Montserrat';
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    border-bottom: 1px solid #D3D3D3;

    &__left-banner {
        border-right: 1px solid #D3D3D3;
    }
    &__content {
        border-right: 1px solid #D3D3D3;
    }
    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }   
    &__subheader {
        padding: 40px 60px 17px 60px;
        border-bottom: 1px solid #D3D3D3;
    }
    &__title{
        font-size: 54px;
        line-height: 66px;
        color: #262626;
    }
    &__text{
        max-width: 424px;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        color: #262626;
    }

}