@import "./src/assets/styles/colors";
@import "./src/assets/styles/vars";

.article {
    font-family: 'Montserrat';
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    border-bottom: $border;
    padding-top: 60px;  
    background: $white;
}