.footer {
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    border-bottom: 1px solid #D3D3D3;
    font-family: 'Montserrat';
    color: #262626;

    &__left-banner {
        border-right: 1px solid #D3D3D3;
    }
    &__container {
        border-right: 1px solid #D3D3D3;
        padding: 88px 60px 89px 60px;
    }
    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__text {
        font-size: 36px;
        line-height: 44px;         
        padding-bottom: 20px;
        margin-top: 58px;
    }
    &__subtext {
        font-family: 'Lato';
        font-weight: 300;
        font-size: 16px;
        padding-bottom: 108.5px;
    }
    &__btn {
        background-image: url(../../assets/images/footer-btn.png);
        width: 200px;
        height: 200px;
        cursor: pointer;
    }
    &__menu {
        display: flex;
        gap: 240px;
        padding-bottom: 51px;
    }
    &__items li h3 {
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 1px;
        opacity: 0.8;
        padding-bottom: 10px;
    }
    &__item {
        font-weight: 100;
        font-size: 14px;
        line-height: 28px;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        font-weight: 300;
        font-size: 12px;
        line-height: 19px;
    }
    &__copyright {
        opacity: 0.8;
        max-width: 431px;
    }
    &____privacy{
        opacity: 0.8;
        align-self: center;
    }
    &__top{
        background: #262626;
        border-radius: 30px;
        padding: 14px 52px 15px 51px;
        font-weight: 400;
        font-size: 12px;
        line-height: 11px;
        color: #F8F8F8;
        cursor: pointer;
    }
}