@import "./src/assets/styles/colors";

.footer {
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    border-bottom: 1px solid #D3D3D3;
    font-family: 'Montserrat';
    color: #262626;
    background: $white;

    &__left-banner {
        border-right: 1px solid $grey;
    }
    &__container {
        border-right: 1px solid $grey;
        padding: 88px 100px 89px 100px;
    }
    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__text {
        font-size: 36px;
        line-height: 44px;         
        padding-bottom: 20px;
        margin-top: 58px;
        max-width: 948px;
    } 
    &__text a {
        border-bottom: 3px solid $black;

    }
    &__subtext {
        font-family: 'Lato';
        font-weight: 300;
        font-size: 16px;
        padding-bottom: 108.5px;
    }
    &__btn {
        width: 200px;
        height: 200px;
        cursor: pointer;
        transform: rotate(-23.91deg);
        background-color: $black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: $white;
    }
    &__menu {
        display: flex;
        gap: 240px;
        padding-bottom: 51px;
    }
    &__items li h3 {
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 1px;
        opacity: 0.8;
        padding-bottom: 10px;
    }
    &__item {
        font-weight: 100;
        font-size: 14px;
        line-height: 28px;
        cursor: pointer;
    }
    &__item a {
        color: $black;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 300;
        font-size: 12px;
        line-height: 19px;
    }
    &__copyright {
        opacity: 0.8;
        max-width: 431px;
    }
    &__right-block {
        display: flex;
        gap: 162px;
        align-items: center;
    }
    &__privacy{
        opacity: 0.8;
    }
    &__top{
        background: $black;
        border-radius: 30px;
        padding: 14px 52px 15px 51px;
        font-weight: 400;
        font-size: 12px;
        line-height: 11px;
        color: $white;
        cursor: pointer;
    }
    
// interactive
    &__btn:hover {
        background-color: $purple;
    }
    &__text a:hover {
        border-bottom: 3px solid $purple;
        color: $purple;
    }
    &__top:hover {
        background: $purple;
    }
}

@media (max-width: 1919px) {
.footer {
    &__container {
        border-right: 1px solid $grey;
        padding: 88px 60px 89px 60px;
    }

    
}

}
@media (max-width: 1310px) {
    .footer {
        &__text {
            max-width: 740px;
        }
    }
}
@media (max-width: 1199px) {
    .footer {
        grid-template-columns: 60px 1fr 60px;


        &__container {
            padding: 88px 40px 89px 39px;
        }
        &__text {
            max-width: 400px;
            margin-top: 32px;
        }
        &__subtext {
            padding-bottom: 84.5px;
        }
        &__right-block{
            flex-direction: column-reverse;
            align-items: end;
            gap: 8px;
        }
        &__menu {
            gap: 210px;
        }
        &__top{
            text-align: center;
        }
    }    
}
@media (max-width: 959px) {
    .footer {
        grid-template-columns: 40px 1fr 40px;
        &__left-banner {
            border-right: 0;
        }
        &__text {
            margin-top: 54px;
        }
        &__text, &__subtext {
            width: 340px;
        }
        &__container {
            border-right: 0;
            position: relative;
        }
        &__btn{
            position: absolute;
            right: 0;
            top: 89px;
        }
        &__menu{
            gap: 100px;
        }
        &__container {
            padding: 55px 0 89px 0;
        }
        &__subtext {
            padding-bottom: 76.5px;
        }
        &__info{
            font-size: 10px;
        }
        &__copyright {
            max-width: 276px;
        }
    }
}
@media (max-width: 639px) {
    .footer {
        grid-template-columns: 20px 1fr 20px;

        &__container {
            padding: 64px 0 53px 0;
        }
        &__text {
            font-size: 26px;
            line-height: 32px;
            width: 269px;
            padding-bottom: 10px;
        }
        &__subtext {
            font-size: 14px;
            line-height: 17px;
            width: 269px;
            padding-bottom: 51px;
        }
        &__info {
            flex-direction: column-reverse;
            gap: 30px;
            align-items: flex-start;
        }
        &__btn {
            width: 150px;
            height: 150px;
            font-size: 16px;
            line-height: 19.5px;
            margin-right: 10px;
            top: 103px;
        }
        &__menu {
            gap: 50px;
            padding-bottom: 30px;
        }
        &__right-block {
            width: 100%;
            align-items: self-start;
            gap: 30px;
        }
        &__top {
            width: 100%;
        }
    }
}

@media (max-width: 479px) {
    .footer {

        &__container {
            padding: 52px 0 30px 0;
        }
        &__text {
            margin-top: 0;
        }
        &__subtext {
            padding-bottom: 50px;
        }
        &__content {
            flex-direction: column;
            align-items: center;
            padding-bottom: 30px;
        }
        &__btn {
            position: relative;
            right: 0;
            top: 0;
        }
        &__menu {
            flex-flow: wrap;
            gap: 45px;
        }
        &__about {
            width: 100%;
        }
        &__copyright, &__privacy {
            font-size: 8px; 
            max-width: 100%;
        }
    }
}




