.footer {
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    border-bottom: 1px solid #D3D3D3;
    font-family: 'Montserrat';
    color: #262626;

    &__left-banner {
        border-right: 1px solid #D3D3D3;
    }
    &__container {
        border-right: 1px solid #D3D3D3;
        padding: 88px 60px 89px 60px;
    }
    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__text {
        font-size: 36px;
        line-height: 44px;         
        padding-bottom: 20px;
        margin-top: 58px;
    }
    &__subtext {
        font-family: 'Lato';
        font-weight: 300;
        font-size: 16px;
        padding-bottom: 108.5px;
    }
    &__btn {
        background-image: url(../../assets/images/footer-btn.png);
        width: 200px;
        height: 200px;
        cursor: pointer;
    }
    &__menu {
        display: flex;
        gap: 240px;
        padding-bottom: 51px;
    }
    &__items li h3 {
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 1px;
        opacity: 0.8;
        padding-bottom: 10px;
    }
    &__item {
        font-weight: 100;
        font-size: 14px;
        line-height: 28px;
        cursor: pointer;
    }
    &__item a {
        color: #262626;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 300;
        font-size: 12px;
        line-height: 19px;
    }
    &__copyright {
        opacity: 0.8;
        max-width: 431px;
    }
    &__right-block {
        display: flex;
        gap: 162px;
    }
    &__privacy{
        opacity: 0.8;
    }
    &__top{
        background: #262626;
        border-radius: 30px;
        padding: 14px 52px 15px 51px;
        font-weight: 400;
        font-size: 12px;
        line-height: 11px;
        color: #F8F8F8;
        cursor: pointer;
    }
}
@media (max-width: 1200px) {
    .footer {
        grid-template-columns: 60px 1fr 39px;

        &__left-banner {
            border-right: 0;
        }
        &__container {
            border-right: 0;
            padding: 88px 0 89px 0;
        }
        &__right-block{
            flex-direction: column-reverse;
            align-items: end;
            gap: 8px;
        }
        &__top{
            text-align: center;
        }
    }    
}
@media (max-width: 960px) {
    .footer {
        grid-template-columns: 40px 1fr 40px;
        &__text, &__subtext {
            width: 340px;
        }
        &__container {
            position: relative;
        }
        &__btn{
            position: absolute;
            right: 0;
            top: 89px;
        }
        &__menu{
            gap: 100px;
        }
        &__container {
            padding: 55px 0 89px 0;
        }
        &__subtext {
            padding-bottom: 76.5px;
        }
        &__info{
            font-size: 10px;
        }
        &__copyright {
            max-width: 276px;
        }

    }
    
}