@import "./src/assets/styles/colors";

.overlay {
    padding-top: 60px;
    background: #F8F8F8;
    position: fixed;
    z-index: 40;
    left: -100%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    border-bottom: 1px solid #D3D3D3;
    transition: all 0.8s ease-in;
    &__left-banner {
        border-right: 1px solid #D3D3D3;
    }
    &__container{
        border-right: 1px solid #D3D3D3;
        padding: 161px 60px 221px 60px;
        font-family: 'Montserrat';
        color: $black;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    &__list-item {
        padding-bottom: 40px;
    }
    &__list-item:last-child {
        padding-bottom: 0;
    }
    &__list-item a {
        font-weight: 800;
        font-size: 36px;
        line-height: 44px;
        color: $black;
    }
    &--open{
        left: 0;
        transition: all 0.8s ease-in;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 220px;

    &__block{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__phone {
        font-weight: 800;
        font-size: 36px;
        line-height: 44px;
        color: $black;
    }
    &__email {
        font-family: 'Lato';
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: $black;
    }
    &__title {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $black;
        padding-bottom: 30px;
    }
    &__items,  &__items ul {
        display: flex;
        gap: 80px;
    }
    &__item a{
        font-family: 'Lato';
        font-size: 16px;
        line-height: 19px;
        color: $black;
    }
}

@media (max-width: 1199px) {
    .contacts {
        &__items,  &__items ul{
            gap: 30px;
        }
    }
}
@media (max-width: 959px) {
    .overlay {
    grid-template-columns: 1fr;

        &__left-banner {
           display: none;
        }
        &__right-banner {
            display: none;
        }
        &__container {
            padding: 161px 40px 116px 40px;
        }
    }
    .contacts {
        align-items: flex-end;

        &__block {
            align-items: flex-end;
        }
        &__items {
           flex-direction: column;
           gap: 20px;
        }
        &__items ul {
            gap: 0;
            justify-content: space-between;
        }
    }
}
@media (max-width: 639px) {
    .overlay {
        &__list-item a {
            font-size: 28px;
            line-height: 34px;
        }
        &__container {
            padding: 100px 20px 157px 20px;
        }
    }
    .contacts {
        &__phone {
            font-size: 28px;
            line-height: 34px;
        }
        &__email {
            font-size: 14px;
            line-height: 17px;
        }
        &__title {
            font-size: 14px;
            line-height: 17px;
            padding-bottom: 20px;
        }
        &__item a{
            font-size: 14px;
            line-height: 17px;
        }
    }
}



