@import "./src/assets/styles/colors";
@import "./src/assets/styles/breakpoints";
@import "./src/assets/styles/vars";

html, body{
    overflow: overlay;
    scroll-behavior: smooth;
}
.career {
    font-family: 'Montserrat';
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    padding-top: 60px;  
    background: $white;
    color: $black;

    &__left-banner {
        border-right: $border;
    }
    &__left-banner h3 {
        transform: rotate(-90deg);
        position: relative;
        top: 400px;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
    }
    &__content {
        border-right: $border;
        padding: 40px 100px 17px 100px;
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 97px;
    }   
    &__title {
        font-size: 54px;
        line-height: 66px;
    }
    &__slogan {
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
    }
    &__text {
        font-family: 'Lato';
        max-width: 760px;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        padding-bottom: 80px;
    }
    &__subtitle {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 56px;
        padding-bottom: 50px;
    }
}
@media #{$desktop-large} {
    .career {

        &__content {
            padding: 40px 60px 17px 60px;
        }
        &__text {
            max-width: 691px;
        }
    }
}

@media #{$desktop} {
    .career {
        &__content {
            padding: 40px 40px 17px 40px;
        }
    }
}

@media #{$tablet}  {
    .career {
        grid-template-columns: 0 1fr 0;

        &__left-banner h3{
            display: none
        }
        &__text{
            padding-bottom: 70px;
        }
        &__subtitle {
            line-height: 46.8px;
        }
    }
}

@media #{$mobile} {
    .career {
        &__content {
            padding: 20px 20px 17px 20px;
        }
        &__container {
            padding-top: 10px;
            padding-bottom: 60px;
        }
        &__title {
            font-size: 38px;
            line-height: 46px;
        }
        &__slogan {
            font-size: 12px;
        }
        &__text {
            font-size: 14px;
            line-height: 17px;
            padding-bottom: 50px;
        }
        &__subtitle {
            font-size: 28px;
            line-height: 56px;
            padding-bottom: 20px;
        }
    }
}

@media #{$mobile-small} {
    .career {

        &__container {
            flex-direction: column;
            gap: 20px;
            align-items: start;
            padding-top: 0;
            padding-bottom: 25px;
        }
        &__text {
            padding-bottom: 70px;
        }
        &__subtitle {
            line-height: 36.4px;
            padding-bottom: 30px;
        }
    }
}


