@import "./src/assets/styles/colors";


.accordion {
    color: $black;
    border-bottom: 1px solid #D3D3D3;
    padding: 0 20px 0 20px;
    cursor: pointer;
    transition: all 0.6s ease-in;

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 20px 0 37px 0;
    }
    &__header h3{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 130%;
    }
    &__content {
        max-height: 0;
        overflow: hidden; 
        transition: all 0.4s ease-in-out;
    }
    &__content--expanded  {
        max-height: 1000px;
        transition: all 0.4s ease-in-out;
        transition-delay: 0.1s;
        padding-bottom: 50px;
    }
    &__info {
        font-family: 'Lato';
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        padding-bottom: 20px;
        max-width: 1088px;
    }
    &__header_active{
        padding: 42px 0 14px 0;
    }
    &__subtitle {
        font-size: 18px;
        line-height: 130%;
        color: $black;
        padding-bottom: 10px;
    }
    &__item {
        padding-bottom: 20px !important;
        max-width: 1070px;
    }
    &__item li {
        font-family: 'Lato';
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: $black;
        background-image: url(../../assets/images/accordion-marker.svg);
        background-repeat: no-repeat;
        background-position: left 4px;
        padding-left: 32px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
    }   
    &__item li:last-child {
        padding-bottom: 0;
    }
    &__link {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 130%;
        text-decoration-line: underline;
        color: $black;
    }

}